.XO-container{
    background-color: #272727;
}
.game-container{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.XO-container h1 ,h2{
    color:white;
}
.react-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 210px;
    color: #000;
}
.react-grid__item{
    height: 70px;
    background-color: white;
    margin-bottom: 2px;
    margin-right: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    border: 0;
    text-transform:capitalize
}
button:disabled {
    color:black
}
.next-player__span{
    text-transform:capitalize
}