body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f7f7f7;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.container{
  width: 80%;
  margin: auto;
}
.blogs{
  /* display: grid;
  grid-template-columns: repeat(3,1fr); */
}
.blog-container h2{
  color:coral;
}
.blog-container{
    background-color: white;
    border-radius: 8px;
    transition:all .3s ease-in-out;
    cursor: pointer;
}
.blog-container:hover{
  box-shadow: 0 0px 5px -2px #000000;

}
